
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2 >Meters List</h2>
					</div>
					<div class="col-sm-6">
					
					

					
						<button  class="btn btn-outline-light btn-lg   form-group"  type="button" (click)="deleteMeters()">Delete Meters</button>

							<a routerLink="AddMeter">
								<button type="button"  class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add A Meter  </button>

							</a>

							

<!------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------->
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
						<th><input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"></th>

                        <th>node_id</th>
                        <th>name</th>
						<th>serial_number</th>
                        <th>manufacturer</th>
                        <th>method</th>
						<th>port</th>
						<th>baudrate</th>
						<th>token</th>
						<th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr     *ngFor="let meter of meters  ; let i=index " [ngClass]="{'data-selected': meter.checked}"  [ngStyle]="{'background-color': (meter.checked) ? '#257df1' : '#ffffff'}" 	>
						
						<td><input type="checkbox" value="{{meter.node_id}}" [(ngModel)]="meters[i].checked"></td>



						
                        <td>{{meter.node_id}}</td>
                        <td>{{meter.name}}</td>
						<td>{{meter.serial_number}}</td>
                        <td>{{meter.manufacturer}}</td>
						<td>{{meter.method}}</td> 
						<td>{{meter.port}}</td>
						<td>{{meter.baudrate}}</td>
						<td>{{meter.token}}</td>
                         <td>



							<a type="button"  data-toggle="modal" data-target="#updateMeter" (click)="OldMeterID(meter.node_id)">

                         	<!-- <a routerLink="editMeter/{{meter.node_id}}">					 -->
						 			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16" color="green">
								<path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
							  </svg>
							  </a>

 <!------------------------------------------------------------------------------------------------------------------------------------------------> 

      <!-- Modal -->
      <div class="modal fade" id="updateMeter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog " role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Update Meter</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" >
    
              <form class="form-inline" [formGroup]="formValue"> 
                   
				
            
                        <label >Node_id:</label>
                  
                        
                         <input type="number" class="form-control mb-2 mr-sm-2"   formControlName="node_id" style="width: 100%;" id="inlineFormInputName2" placeholder="node_id" [(ngModel)]="oldmeter.node_id"  >
						 <label >Name:</label>

                         <input type="text" class="form-control mb-2 mr-sm-2"   formControlName="name" style="width: 100%;"  placeholder="name"  [(ngModel)]="oldmeter.name"  >
						 <label >Serial_number:</label>

						 <input type="text" class="form-control mb-2 mr-sm-2"   formControlName="serial_number" style="width: 100%;"  placeholder="serial_number"  [(ngModel)]="oldmeter.serial_number" >
						 <label >Manufacturer:</label>

						 <input type="text" class="form-control mb-2 mr-sm-2"   formControlName="manufacturer" style="width: 100%;"  placeholder="manufacturer"  [(ngModel)]="oldmeter.manufacturer">
						 <label >Method:</label>

						 <input type="text" class="form-control mb-2 mr-sm-2"   formControlName="method" style="width: 100%;"  placeholder="method"  [(ngModel)]="oldmeter.method">
						 <label >Port:</label>

						 <input type="text" class="form-control mb-2 mr-sm-2"   formControlName="port" style="width: 100%;"  placeholder="port"  [(ngModel)]="oldmeter.port">
						 <label >Baudrate:</label>

						 <input type="number" class="form-control mb-2 mr-sm-2"   formControlName="baudrate" style="width: 100%;"  placeholder="baudrate"  [(ngModel)]="oldmeter.baudrate">
						 <label >Token:</label>

						 <input type="text" class="form-control mb-2 mr-sm-2"   formControlName="token" style="width: 100%;"  placeholder="token"  [(ngModel)]="oldmeter.token">



                </form>
    



    
    
            </div>
            <div class="modal-footer" >
              <button type="button"  style="margin-right: 70px;" id="cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" style="margin-right: 10px;"  (click)="update()" class="btn btn-secondary">Update</button>

            </div>
          </div>
        </div>
      </div>

<!--------------------------------------------------------------------------------------------------------------------------------------------------->


<a type="button"  data-toggle="modal" data-target="#deleteEmployeeModal" (click)="OldMeterID(meter.node_id)">


							  <!-- <a  (click)="deleteMeter(meter.node_id)">  -->
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" color="red">
									<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
									<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
								  </svg>
							
<!-------------------------------------------------------------------------------------------------------------------------------------->								  


  <!-- Delete Modal HTML -->
	<div id="deleteEmployeeModal" class="modal fade" data-backdrop="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<form  >
					<div class="modal-header">						
						<h4 class="modal-title">Delete Meter</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Are you sure you want to delete this Record?</p>
						<p class="text-warning"><small>This action cannot be undone.</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-danger" (click)="deleteMeter(meter.node_id)" value="Delete" >
					</div>
				</form>
			</div>
		</div>
	</div>

  
<!-------------------------------------------------------------------------------------------------------------------------------------->
							 </a> 

                        </td>
                    </tr>
                </tbody>
            </table>
	
        </div>
    </div>
	<!-- Add Modal HTML -->
	<div id="addEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Add Employee</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>Name</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="email" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Address</label>
							<textarea class="form-control" required></textarea>
						</div>
						<div class="form-group">
							<label>Phone</label>
							<input type="text" class="form-control" required>
						</div>					
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-success" value="Add">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Edit Modal HTML -->
	<div id="editEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Edit Employee</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>Name</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="email" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Address</label>
							<textarea class="form-control" required></textarea>
						</div>
						<div class="form-group">
							<label>Phone</label>
							<input type="text" class="form-control" required>
						</div>					
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-info" value="Save">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Delete Modal HTML -->
	<div id="deleteEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Delete Employee</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Are you sure you want to delete these Records?</p>
						<p class="text-warning"><small>This action cannot be undone.</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-danger" value="Delete">
					</div>
				</form>
			</div>
		</div>
	</div>
